<app-loading></app-loading>
<div *ngIf="artist" class="card-columns">
    <div class="card puntero">
        <img [src]="artist.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ artist.name }}</h5>
            <p class="card-text">
                <span class="badge badge-pill badge-primary" *ngFor="let genre of artist.genres">
                            {{ genre }}
                </span>
            </p>
        </div>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Piture</th>
                    <th>Album</th>
                    <th>Song</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td><img [src]="track.album.images | noimage" width="80" height="80" alt=""></td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <!-- <td> <audio [src]="track.preview_url" controls></audio></td> -->
                    <td>
                        <iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
                        </iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>